header {
    -webkit-box-shadow: 0px 4px 7px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 4px 7px 1px rgba(0,0,0,0.15);
    box-shadow: 0px 4px 7px 1px rgba(0,0,0,0.15);
    position: fixed;
    top: 0;
    width: 100vw;
    height: auto;
    z-index: 100;
}

header .navbar .navbar-nav a.nav-link.pulse {
    -webkit-animation-name: none;
    animation-name: none;
}

header .navbar-light .navbar-nav .nav-link {
    color: #030301;
}

header .navbar .navbar-nav a.nav-link.pulse:hover {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    color: #B0D1F2;
}


@media (min-width: 992px) {
    .navbar-collapse {
        justify-content: flex-end !important;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5em;
        padding-left: 1.5em;
    }
}

/* ANIMATIONS */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.12, 1.12, 1.12);
      transform: scale3d(1.12, 1.12, 1.12);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
}
  
@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.12, 1.12, 1.12);
        transform: scale3d(1.12, 1.12, 1.12);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}