.about-section {
    padding-top: 90px;
    padding-bottom: 40px;
    width: 100%;
    margin: 0 auto;
}

.about-section .picAndText p {
    padding: 30px 10px 20px;
}

.picAndText img {
    max-width: unset;
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

@media (min-width: 768px) {
    .about-section {
        padding-top: 90px;
        padding-bottom: 40px;
        width: 90%;
        margin: 0 auto;
    }

    .picAndText {
        display: flex;
        margin-bottom: 40px;
        margin-top: 30px;
    }

    .picAndText .img-box {
        padding-top: 30px;
        width: 30%;
    }
    
    .picAndText img {
        width: 100%;
        height: auto;
        max-width: 225px;
    }
    
    .picAndText p {
        padding-left: 40px;
        align-self: center;
        width: 70%;
    }
}