.about-section {
    padding-top: 90px;
    padding-bottom: 40px;
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .about-section {
        padding-top: 90px;
        padding-bottom: 40px;
        width: 60%;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .picAndText {
        display: flex;
        margin-bottom: 40px;
        margin-top: 30px;
    }
    
    .picAndText img {
        width: 30%;
        height: auto;
        border-radius: 50%;
    }
    
    .picAndText p {
        padding-left: 40px;
        align-self: center;
    }
}
