.experience.container-fluid {
    background-color: #FF7F51;
}

.experience-section {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #435668;
}

.experience-section > h2 {
    color: white;
    font-size: 48px;
    font-weight: 300;
}

.experience-section > div > p {
    color: white;
    font-size: 20px;
    padding-bottom: 20px;
}

.experience-section .loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experience-section a:hover {
    color: #FF7F51;
}

.experience-section .filters {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 60%;
    margin-bottom: 40px;
}

.experience-section .filters span.item-filter {
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 20px;
    transition: all .2s linear;
}

.experience-section .filters span.item-filter.active {
    background-color: white;
    color: #FF7F51;
    transition: all .2s linear;
}

@media (min-width: 768px) {
    .experience-section .filters {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 23%;
        margin-bottom: 40px;
    }
    
    .experience-section .filters span.item-filter {
        color: white;
        border: 1px solid white;
        border-radius: 30px;
        padding: 5px 20px;
        cursor: pointer;
        font-size: 20px;
        transition: all .2s linear;
    }
    
    .experience-section .filters span.item-filter.active {
        background-color: white;
        color: #FF7F51;
        transition: all .2s linear;
    }
}