.experience.container-fluid {
    background-color: #FF7F51;
}

.experience-section {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #435668;
}

.experience-section > h2 {
    color: white;
    font-size: 48px;
    font-weight: 300;
}

.experience-section > div > p {
    color: white;
    font-size: 20px;
    padding-bottom: 20px;
}

.experience-section .loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experience-section a:hover {
    color: #FF7F51;
}