.custom-button {
    display: block;
    margin: 15px auto;
    background: linear-gradient(to bottom, #007bff 5%, #007bff 100%);
    background-color: #007bff;
    border-radius: 6px;
    border: 1px solid #007bff;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
}