body {
    background-color: #f8f9fa;
    color: #030301;
}

body a {
    color: inherit;
}

body a:hover {
    color: #B0D1F2;
    text-decoration: none;
}

body h2 {
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
}

body p {
    font-size: 18px;
}

body img {
    max-width: 100%;
}