body {
    background-color: #FFFFF3;
    color: #030301;
}

body a {
    color: inherit;
}

body a:hover {
    color: #B0D1F2;
    text-decoration: none;
}

body h2 {
    font-size: 50px;
    font-weight: 300;
}